#root {
    padding-top: 80px;
    font-family: "MedievalSharp", cursive;
    font-weight: 500;
    font-style: normal;
}

body{
    background-image: url('../src/assets/images/another-rough-old-and-worn-parchment-paper.webp'); /* Replace with the path to your image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fix the background image's position */
    background-size: cover; /* Cover the entire area */
    min-height: 100vh;
}

.navbar {
    background-color:rgb(0, 0, 0) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.loading-indicator {
    font-size: 5vh;
}

.form-control {
    background-color: rgba(240, 240, 240, 0.411);
    border-color: black;
}
  
.bolded {
    font-size: 2vh;
    font-weight: 600;
}

.char-name {
    font-weight: 600;
}

.allocate-stats, .h2 {
    font-size: 3vh;
    font-weight: 600;
}

.total-points-line {
    font-size: 2vh;
    margin-top: 1rem;
}
.form-label {
    font-size: 2vh;
}

.prompt-stats {
    font-size: 1.7vh;
}

.h2 {
    margin-bottom: 3vh;
}

.character-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.character-card {
    border: 1px solid #000000;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    background-color: #8f650a69;
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.stats p {
    margin: 5px 0;
}

.userProfileName {
    font-size: 3vh;
    font-weight: 700;
}
.red, .red-link {
    color: red;
}

.red-link:hover {
    color: rgb(255, 163, 135);
}

.profile-stats {
    font-weight: 600;
}

.profile-character-name {
    font-weight: 700;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/sports/spo-1/spo15.cur), auto !important;} /* End https://www.cursors-4u.com */


/* CSS for hamburger menu */
.hamburger {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 70px;
    z-index: 1000;
}

.line {
    width: 30px;
    height: 4px;
    background-color: red;
    margin: 6px;
    transition: all 0.3s ease;
}

.navbar-nav {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    padding: 2rem;
    padding-top: 100px;
    transition: right 0.3s ease;
    z-index: 999;
}

.navbar-nav.open {
    right: 0;
}

.nav-item {
    margin-bottom: 1rem;
}

.nav-item a {
    font-size: 1.5rem;
}