#root {
    padding-top: 80px;
    font-family: "MedievalSharp", cursive;
    font-weight: 500;
    font-style: normal;
}
.navbar {
    background-color:rgb(0, 0, 0) ;
}
.navbar-brand {
    color: red;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

.navbar-brand:hover {
    color: rgb(255, 98, 98);
    font-size: clamp(1.5rem, 5vw, 2rem);
}


.body-background {
    background-image: url('./src/assets/images/another-rough-old-and-worn-parchment-paper.webp'); /* Replace with the path to your image */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fix the background image's position */
    background-size: cover; /* Cover the entire area */
    min-height: 100vh;
}

.loading-indicator {
    font-size: 5vh;
}

.form-control {
    background-color: rgba(240, 240, 240, 0.411);
    border-color: black;
}
  
.bolded {
    font-size: 2vh;
    font-weight: 600;
}

.char-name {
    font-weight: 600;
}